// generated using template: main.template
//---------------------------------------------------------------------------------

/*********************************************************************************
**
**  Module Name: main.c
**  Description:
**            Main file
** 
**  Author: {{author}}
**  Date:   {{date}}
**********************************************************************************/

{% include 'include.template' %}  

{% include 'main_block.template' %}