/****************************************************************************************
 * @file       {{user_function_name}}_c
 * @brief      Kratak opis {{user_function_name}}_c
 * @details    Detaljan opis
 * @author     {{author}}
 * @version    1.0
 * @date       {{date}}
 * @pre        -
 * @bug        -
 * @warning    -
 ****************************************************************************************/

/*------------------------------------------------------------------------------
 INCLUDES
 ------------------------------------------------------------------------------*/
#include "{{user_function_name}}.h"
#define MINGW
#if defined(MINGW)
#include <math.h>
#include <stdio.h>
#elif defined(MSVC)
#include <math.h>
#elif defined(GNU_C)
#include <math.h>
#else
#error Unsuported platform!
#endif

/*------------------------------------------------------------------------------
 ENUMS
 ------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 TYPEDEFS
 ------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 FUNCTIONS
 ------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*
 * Fn: float korisnicka1(float in)
 * Implementacija bloka "korisnicka1"
 *-----------------------------------------------------------------------------------*/
 
{% for func_name in user_functions %}
float {{func_name}}(float in)
{
	{{func_body}}
}

{% endfor %}


