/****************************************************************************************
 * @file       {{user_function_name}}.h
 * @brief      Kratak opis {{user_function_name}}.h
 * @details    Detaljan opis
 * @author     {{author}}
 * @version    1.0
 * @date       {{date}}
 * @pre        -
 * @bug        -
 * @warning    -
 ****************************************************************************************/
#ifndef __{{user_function_name}}_h__
#define __{{user_function_name}}_h__

#ifdef __cplusplus
extern "C"
{
#endif /* __cplusplus */

/*------------------------------------------------------------------------------
 DEFINES
 ------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 ENUMS
 ------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 TYPEDEFS
 ------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 FUNCTIONS
 ------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/


{% for func_name in users_functions %}
float {{func_name}}(float in);
{% endfor %}


#ifdef __cplusplus
}
#endif /*__cplusplus */
#endif /* __{{user_function_name}}_h__ */
